<md-content>
  <md-card flex="60" flex-xs="100" style="max-height:100%;">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Premier League</span>
        <span class="md-subhead">Standings</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content layout="column">
      <div layout="row" class="table-heading-container table-headings">
       <p flex="10">#</p>
       <p flex>Team</p>
       <p flex="20">Played</p>
       <p flex="20">Goals</p>
       <p flex="10">PTS</p>
     </div>
      <div>
        <br />
       <md-divider></md-divider>
       <div layout="row" class="table-heading-container">
         <p flex="10">#</p>
       <p flex>Manchester United</p>
       <p flex="20">Played</p>
       <p flex="20">Goals</p>
       <p flex="10">PTS</p>
       </div>
      </div>

    </md-card-content>
  </md-card>
</md-content>